local dirs = {}

-- This is the base of operations. Most things are at least in part
-- derrived from this setting, are influenced by it, or are somehow
-- either directly, or indirectly, approptiate to it.
-- dirs.base    = string.format("%s/.thwap", os.getenv("HOME"))

-- This is where we should find config files for all the utiltities
-- and bits and bobs and things.
-- dirs.config  = string.format("%s/etc",    base)

-- Any sort of bootstrapping should go in here. Most things will never
-- use this, but it's configurable....so, yeah.
-- dirs.init    = string.format("%s/init.d", config)

-- This is the base of the install root. You could rationally keep all
-- things here instead of further nesting, as we do by default (which
-- I will rationalize further on).
-- dirs.library = string.format("%s/usr",    base)

-- This is where we'll keep our splats or package defintions.
-- dirs.package = string.format("%s/splats", base)

-- Temp file space
-- dirs.temp    = string.format("%s/temp",   base)

-- This by default can be summed up as: <library>/<OS Name>/<Machine Arch>
-- Things are this way by default because this was designed to allow you to
-- share your ${HOME} across multiple machines, say by NFS or something, and
-- not have to worry about those machines being a different architecture, or
-- OS, and stepping on yourself every time you make a change. If you don't
-- like that, and are theologically opposed to this directory structure, you
-- can control it like so:
-- dirs.home    = library

return dirs
